h1 {
  text-align: center;
}

.scores {
  text-align: center;
  margin-bottom: 20px;
}

.dice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

/*
.player-dice {
  position: absolute;
  top: 500;
  left: 0;
} */

button {
  margin-top: 10px; /* Adjust this value as needed */
}
img {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.buttons {
  text-align: center;
}

button {
  margin: 5px;
}
body {
  background-image: url("dice_background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}