h1 {
  text-align: center;
}

.scores {
  text-align: center;
  margin-bottom: 20px;
}

.dice-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

img {
  width: 100px;
  height: 100px;
  margin: 10px;
}

.buttons {
  text-align: center;
}

button {
  margin: 5px;
}
.bot-container {
  position: relative;
}
/* this is for if we make the speach bubble for the bot, it worked for the prediction so may can help us later */
.bot-speech-bubble {
  position: absolute;
  top: -80px;
  left: 20px;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1;
}
/* also for speech bubble for bot */
.bot-speech-bubble::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent #fff;
}
#bot-dialog {
  font-weight: bold;
}
body {
  background-image: url("dice_background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden; /* Add this line to hide overflowing content */
}

@keyframes confetti-fall {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #ff0000; /* Replace with your desired confetti color */
  animation: confetti-fall 3s ease-in-out;
}






